﻿@model FreightXChange.Web.Models.DeliveryReviewViewModel
<div>
    <h2>Delivery Options</h2>
</div>
<ul class="list-unstyled">
    @foreach (var delivery in Model.Deliveries)
    {
        using (Html.BeginForm("ConfirmOrder", "Home"))
        {
            <li>
                <h3>@delivery.Time: £@delivery.Quote</h3>
                <ul>
                    @foreach (var item in delivery.Items)
                    {
                        <li>@item.Units @item.SupplierUnit of @item.Brand @item.Name</li>
                    }
                </ul>
                <button class="btn btn-sm" type="submit">Choose this</button>
            </li>
        }
    }
</ul>