﻿@using FreightXChange.Web.Models
@model FreightXChange.Web.Models.ProductsAvailableViewModel
@{
    var productIndex = 0;
}
@using (Html.BeginForm(Model.Action, "Home", FormMethod.Post))
{
    <table class="table-striped" style="width: 80%">
        <thead>
        <tr>
            <th></th>
            <th>Brand</th>
            <th>Product</th>
            <th>Price per Unit</th>
            <th>Order</th>
            <th>Units</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td class="p-20"><img src="@Html.Raw(product.ImageUri)" width="80"/></td>
                <td>@product.Brand @Html.HiddenFor(m => m.Products[productIndex].Brand)</td>
                <td>@product.Name @Html.HiddenFor(m => m.Products[productIndex].Name)</td>
                <td>£@product.PricePerUnit @Html.HiddenFor(m => m.Products[productIndex].PricePerUnit)</td>
                <td>@Html.TextBoxFor(m => m.Products[productIndex].Units, new {@class = "form-control input-sm", style = "width: 30px;"})</td>
                <td>@product.SupplierUnit @Html.HiddenFor(m => m.Products[productIndex].PricePerUnit)</td>
            </tr>
            productIndex++;
        }
        </tbody>
    </table>
    @Html.HiddenFor(m => m.ConsumerType)
    <button class="btn btn-sm" type="submit">Place Order</button>
}
