﻿@model FreightXChange.Web.Models.UserAdminViewModel
<ul>
    @foreach (var userEmail in Model.UserEmails)
    {
        <li>
            <span>@userEmail </span>
            <span>
                @using (Html.BeginForm("MakeSupplier", "Account"))
                {
                    @Html.Hidden("userEmail", userEmail)
                    <button type="submit">Make Supplier</button>
                }
            </span>
            <span>
                @using (Html.BeginForm("MakeRetailer", "Account"))
                {
                    @Html.Hidden("userEmail", userEmail)
                    <button type="submit">Make Retailer</button>
                }
            </span>
            <span>
                @using (Html.BeginForm("MakeSme", "Account"))
                {
                    @Html.Hidden("userEmail", userEmail)
                    <button type="submit">Make SME</button>
                }
            </span>
        </li>
    }
</ul>