﻿@using System.Linq
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FreightXChange</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/toastr/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/super-admin/css")
    @Styles.Render("~/bundles/font-awesome/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryeasing")
    @Scripts.Render("~/bundles/charts")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/super-admin")
</head>
<body id="skin-blur-sunset">
    <header id="header" class="media">
        <a href="" id="menu-toggle"></a>
        @Html.ActionLink("FreightXChange", "Index", "Home", null, new { @class = "logo pull-left" })
        <div class="media-body">
            <div class="media" id="top-menu">
                <div id="time" class="pull-right">
                    <span id="hours"></span>
                    :
                    <span id="min"></span>
                    :
                    <span id="sec"></span>
                </div>
            </div>
        </div>
    </header>
    @Html.AntiForgeryToken()
    <div class="clearfix"></div>
    <section id="main" class="p-relative" role="main">

        <!-- Sidebar -->
        <aside id="sidebar">

            <!-- Sidbar Widgets -->
            <div class="side-widgets overflow">
                <!-- Profile Menu -->
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="text-center s-widget m-b-25 open" id="profile-menu">
                        <a href="#">
                            <img class="profile-pic animated" src="/Content/img/profile-pic.jpg" alt="" />
                        </a>
                        <ul class="dropdown-menu profile-menu">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("SystemAdmin"))
                            {
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin ></a>
                                    <ul class="sidebar-admin dropdown-menu profile-menu">
                                        <li>@Html.ActionLink("User Roles", "UserAdmin", "Account") <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                                    </ul>
                                </li>
                            }
                            @*<li>@Html.ActionLink("Dashboard", "Dashboard", "Summary", null, null) <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                            <li>@Html.ActionLink("Message Log", "Index", "Message", null, null) <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                            <li>@Html.ActionLink("Treatments", "Index", "SiteTreatment", null, null) <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>*@
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a><i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                        </ul>
                    </div>
                }

                <!-- Feeds -->
                <div class="s-widget m-b-25">
                    <h2 class="tile-title">
                        News Feeds
                    </h2>

                    <div class="s-widget-body">
                        <div id="news-feed"></div>
                    </div>
                </div>
            </div>

            <!-- Side Menu -->
            <ul class="list-unstyled side-menu">
                <li class="active">
                    <a class="sa-side-home" href="/">
                        <span class="menu-item">Dashboard</span>
                    </a>
                </li>
            </ul>
        </aside>

        <!-- Content -->
        <section id="content" class="container">
            <!-- Breadcrumb -->
            <ol class="breadcrumb hidden-xs">
                <li><a href="/">Home</a></li>
            </ol>

            <h4 class="page-title">@ViewBag.Title</h4>
            <div id="errors" class="block-area">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div class="alert alert-danger alert-dismissable fade in">@(error.ErrorMessage)</div>
                }
            </div>

            <!-- Main Widgets -->
            @RenderBody()
        </section>
        <!-- Older IE Message -->
        <!--[if lt IE 9]>
            <div class="ie-block">
                <h1 class="Ops">Ooops!</h1>
                <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser in order to access the maximum functionality of this website. </p>
                <ul class="browsers">
                    <li>
                        <a href="https://www.google.com/intl/en/chrome/browser/">
                            <img src="/Content/img/browsers/chrome.png" alt="">
                            <div>Google Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mozilla.org/en-US/firefox/new/">
                            <img src="/Content/img/browsers/firefox.png" alt="">
                            <div>Mozilla Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com/computer/windows">
                            <img src="/Content/img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://safari.en.softonic.com/">
                            <img src="/Content/img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-10/worldwide-languages">
                            <img src="/Content/img/browsers/ie.png" alt="">
                            <div>Internet Explorer(New)</div>
                        </a>
                    </li>
                </ul>
                <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
            </div>
        <![endif]-->
    </section>
    <div class="modal fade in" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="false">
        <div class="modal-backdrop fade in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body">
                    <p id="modalBody"></p>
                    <p>Do you wish to do this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalConfirm" class="btn btn-primary">Yes, proceed</button>
                    <button type="button" id="modalCancel" class="btn btn-default" data-dismiss="modal">No, cancel</button>
                    <span class="pull-right">Do not show this message again <input type="checkbox" id="suppressModal" class="pull-right" /></span>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

